# Venv files
Pipfile
Pipfile.lock

# Venv folders, in case we use venv
venv

# Files depending on the 'execution'.
log.txt
./login_info/users.db
./databases/database.db
./login_info/users.db

# Cache files
*.pyc
__pycache__