{% extends 'base.html' %}

{% block navbar_elements %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{url_for('routes.home')}}">Inicio</a>
</li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="ProductosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos
    </a>
    <ul class="dropdown-menu" aria-labelledby="ProductosDropdown">
      <li><a class="dropdown-item" href="{{url_for('products.show_stock')}}">Ver stock</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.add_product')}}">Agregar</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.remove_product')}}">Eliminar</a></li>
    </ul>
  </li>
{% endblock %}

{% block body %}
<!-- Flashed messages -->
{% with messages = get_flashed_messages(True, ("error", "message")) %}
    {% if messages %}
        {% for message in messages %}
            {% if message[0] == 'error' %}
                <div class="alert alert-danger container-sm mx-auto login-card" role="alert">
                    {{ message[1] }}
                </div>
            {% elif message[0] == 'message' %}
                <div class="alert alert-success container-sm mx-auto login-card" role="alert">
                    {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- Flashed messages -->


<!--Login form -->
<div class="card text-left mx-auto login-card">
<form action="#" method="POST">
    <div class="modal-body container-sm">
    <div class="mb-3">
      <label for="ProductName" class="form-label">Producto</label>
      <div class="w-50">
      <input type="text" class="form-control" id="ProductName" placeholder="Nombre del producto" name="product_name" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="cost_price" class="form-label">Costo</label>
      <input type="number" class="form-control w-50" id="cost_price" placeholder="Precio de costo" name="cost_price" required>
    </div>
      <div class="mb-3">
      <label for="sell_price" class="form-label">Venta</label>
      <input type="number" class="form-control" id="sell_price" placeholder="Precio de venta" name="sell_price" required>
    </div>
    <div class="mb-3">
      <label for="in_stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="in_stock" placeholder="Cantidad en stock" name="in_stock" required>
    </div>
      </div>

    <div class="container-sm text-center">
        <button type="submit" class="btn btn-dark" value="Agregar">Agregar</button>
    </div>
</form>
{% endblock %}
