{% extends 'base.html' %}

{% block navbar_elements %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="ProductosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos
    </a>
    <ul class="dropdown-menu" aria-labelledby="ProductosDropdown">
      <li><a class="dropdown-item" href="#">Ver stock</a></li>
      <li><a class="dropdown-item" href="#">Agregar</a></li>
      <li><a class="dropdown-item" href="#">Eliminar</a></li>
    </ul>
  </li>
{% endblock %}

<!--Trigger sign in modal button-->
{% block signbutton %}
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#LoginModal">Ingresar</button>
<!--Sign in modal-->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inicio de sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--Sign in form-->
        <form action="{{url_for('routes.login')}}" method="POST">
        <div class="modal-body">
        <div class="mb-3">
          <label for="UserName" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="UserName" placeholder="Nombre de usuario" name="username">
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="Password" placeholder="Contraseña" name="password">
        </div>
        
        <!--End sign in form-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Ingresar">
        </div>
        </form>
        </div>
    </div>
</div>
<!--End sign in modal-->
    


{% endblock %}

{% block content %}
{% endblock%}

{% block footer %}
{% endblock %}