{% extends 'base.html' %}

{% block navbar_elements %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{url_for('routes.home')}}">Inicio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="ProductosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos
    </a>
    <ul class="dropdown-menu" aria-labelledby="ProductosDropdown">
      <li><a class="dropdown-item" href="{{url_for('products.show_stock')}}">Ver stock</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.add_product')}}">Agregar</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.remove_product')}}">Eliminar</a></li>
    </ul>
  </li>
{% endblock %}

<!--Trigger sign in modal button-->


{% block body %}
{% if not 'user' in session %}
<div class="alert alert-warning distanced-from-navbar text-center" role="alert">
  Inicie sesión para utilizar la página. Si no existe usuario alguno, tendrá que registrarlo.
</div>
<!-- Flashed messages -->
{% with messages = get_flashed_messages(True, ("error", "message", "info")) %}
    {% if messages %}
        {% for type, message in messages %}

                {% if type == 'error' %}
                <div class="distanced-from-navbar alert alert-danger login-card mx-auto text-center"> {{message}}
                </div>
                {% else %}
                <div class="distanced-from-navbar alert alert-success login-card mx-auto text-center"> {{message}}
                </div>
                {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- Flashed messages -->
{% endif %}
{% endblock%}

{% block footer %}
{% endblock %}