{% extends 'base.html' %}

{% block navbar_elements %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{url_for('routes.home')}}">Inicio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="ProductosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos
    </a>
    <ul class="dropdown-menu" aria-labelledby="ProductosDropdown">
      <li><a class="dropdown-item" href="{{url_for('products.show_stock')}}">Ver stock</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.add_product')}}">Agregar</a></li>
      <li><a class="dropdown-item" href="{{url_for('products.remove_product')}}">Eliminar</a></li>
    </ul>
  </li>
{% endblock %}


{% block body %}
{% if products %}
<div class="card bg-light" style="padding: 20px;">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nombre del producto</th>
      <th scope="col">Costo ($/u)</th>
      <th scope="col">Venta ($/u)</th>
      <th scope="col">Unidades en stock</th>
    </tr>
  </thead>
  <tbody>
    {% for i, (name, cost_price, sell_price, in_stock) in products  %}
    {% set cost_price = "%.2f" % cost_price %}
    {% set sell_price = "%.2f" % sell_price %}
    <tr>
      
      <th scope="row">{{i}}</th>
      <td>{{name}}</td>
      <td>{{cost_price}}</td>
      <td>{{sell_price}}</td>
      <td>{{in_stock}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div class="alert alert-danger container-sm mx-auto login-card text-center" role="alert">
  <p>¡No se agregó ningún producto a la base de datos!</p>
   <p> Vaya a Productos><a href="{{url_for('products.add_product')}}">Agregar</a> para agregar uno.</p>
</div>
{% endif %}



{% endblock %}
